<%= render 'layouts/nav' %>

<section class="bg-primary">
    <div class="container">
      <div class="row">
        <div class="col-lg-12 text-center">
          <i class="fa fa-4x fa-users text-faded sr-icons"></i>
        </div>

        <div class="col-lg-12 text-center">
          <hr class="light">
          <h2 class="section-heading">The Team</h2>
          <hr class="light">
        </div>
      </div>
    </div>
</section>

<div class="team-wrapper">

	<section class="spotlight style1 content-align-left image-position-center team-member">
		<div class="content">
			<h2>Elizabeth Wu</h2>
      <p>Elizabeth is passionate about exploring identity, race, and community.
        She started attending the Taiwanese American Foundation Summer Conference as a
        camper in 2001, and has since served in staff, adviser, and director roles.
        She currently lives in Boston, and was on the founding board of the Boston chapter
        of Taiwanese American Professionals.  Elizabeth joined Our TA Story because
        she loves how storytelling has the power to move people and make them
        feel connected to others. </p>
		</div>
		<div class="image">
			<%= image_tag('team/elizabeth_wu2.jpg', class:"person-image") %>
		</div>
	</section>

	<section class="spotlight style1 content-align-left image-position-center team-member" id="first">
		<div class="content">
			<h2>Allison King</h2>
			<p>Allison is a computer engineer in the Boston area by day and a
        fiction writer (still in the Boston area) by night. She is interested in exploring the space between the
        two and in investigating how technology can lend a voice to traditionally silenced communities. </p>
		</div>
		<div class="image">
			<%= image_tag('team/allison_king.jpg') %>
		</div>
	</section>

	<section class="spotlight style1 content-align-left image-position-center team-member" id="first">
		<div class="content">
			<h2>Theresa Chiu</h2>
			<p>Theresa Chiu is a writer and producer based in Los Angeles. Her award-winning
debut feature film <i>Love Arcadia</i> is a coming-of-age romantic dramedy rooted in
Taiwanese America and centers on love, family, friendship, and, last but not least,
bubble tea. Her extensive experience in entertainment includes roles at CBS
Television and the Center for Asian American Media. A proud Duke Blue Devil from
Atlanta, Georgia, she loves popcorn, backpacking, and coffee with a view. </p>
		</div>
		<div class="image">
			<%= image_tag('team/theresa_chiu.jpg') %>
		</div>
	</section>

	<section class="spotlight style1 content-align-left image-position-center team-member" id="first">
		<div class="content">
			<h2>Pamela Hung</h2>
			<p>Pamela grew up in Southern California (626) and currently lives in Boston. She has
been active in the Taiwanese American community for nearly a decade&mdash; from
coordinating youth camps (TACL-LID, TACL-LYF, TANG, TAF) to serving on the
Board of Directors for the Intercollegiate Taiwanese American Citizens League
(ITASA) to founding the Taiwanese American Professionals (TAP) chapter in Boston.
Pamela works in nonprofit consulting and has experience in public health and
philanthropy. In her free time, Pamela stays active through running, pilates, and hula-hooping.
		</div>
		<div class="image">
			<%= image_tag('team/pamela_hung.jpg') %>
		</div>
	</section>

	<section class="spotlight style1 content-align-left image-position-center team-member" id="first">
		<div class="content">
			<h2>Shawna Yang Ryan</h2>
			<p>Shawna Yang Ryan teaches in the Creative Writing Program at the University of
Hawai'i at Manoa. She is the author of <i>Water Ghosts</i> and <i>Green Island</i>, a novel
set in martial law era Taiwan. <i>Green Island</i> was an Amazon Best Book of
February 2016 and a Goodreads Choice Award Nominee for Historical Fiction. In
2015, she was the recipient of the Elliot Cades Emerging Writer Award from the
Hawai'i Literary Arts Council.</p>
		</div>
		<div class="image">
			<%= image_tag('team/shawna_yang_ryan.jpg') %>
		</div>
	</section>

	<section class="spotlight style1 content-align-left image-position-center team-member" id="first">
		<div class="content">
			<h2>Ho Chie Tsai</h2>
			<p>Ho Chie Tsai is the founder of <a href="http://www.taiwaneseamerican.org">TaiwaneseAmerican.org</a>, a non-profit organization
and website dedicated to connecting and highlighting the new generation of
Taiwanese Americans. He has spent most of his life working to build organizations
and networks that serve the Asian and Taiwanese American communities. His
personal mission is to inspire young people to discover their values and passions so
that they can make a positive impact in this world. He is currently a board member
of the Taiwanese American Foundation and a founder of Taiwanese American
Professionals in San Francisco. He was involved with the Intercollegiate Taiwanese
American Students Association since its formation in the early 1990's and remains a
frequent speaker for their regional conferences. Professionally, Ho Chie is a Board-certified
pediatrician on staff at the UCSF Benioff Children’s Hospital.
		</div>
		<div class="image">
			<%= image_tag('team/hochie_tsai2.jpg') %>
		</div>
	</section>



</aside>
</div>

<div class=" row text-center">
  <hr>
  <%= link_to "Back Home", root_path, class: "btn btn-primary sr-button" %>
  <hr>
</div>
