<%= bootstrap_form_for(@story) do |f| %>
    <h4>Start by selecting the Media Type of Your Story</h4>
    <%= f.select :media_type, options_for_select(options_for_select({
       "Video" => "video", "Audio" => "audio", "Text" => "text" })
    ), {required: true, help:"Select the format of your story", prompt: "--Select Type--"}, wrapper: { class: "required" } %>

    <div class="base_story_input">
      <%= f.text_field :author_name, help: "This should be the name of the person who put this story together.
      We accept anonymous submissions.", label:" Author name (optional)" %>
      <%= f.text_field :subject_of_story, help: "This should be the name of the person whose story you are sharing.
      If you're sharing a story from your life, you are the subject!", label: "Who is this story about? (optional)" %>

      <%= f.text_field :hometown, help: "Fill in only if you want this to be displayed with your story.
      It can be anywhere you consider a home." %>
      <%= f.number_field :birth_year, help: "This should be the birth year of the subject of the story.
      Fill in only if you want this to be displayed with your story."%>

      <%= f.text_field :name, label: "Title", wrapper: {class: 'required'}, required: true%>

      <label id="form_body_label">Body</label>
      <%= f.trix_editor :body , id:"form_body"%>

      <br>

      <!--<%= f.label :tag_list, "Tags" %>-->
      <%= f.collection_select :tag_ids, Tag.order(:name), :id, :name,
      {label: "Tags", help: "You can add tags to your story to help categorize it"}, {multiple: true} %>

      <%= render :partial => "form_submit_text", :locals => {:f=>f} %>
      <%= render :partial => "form_submit_audio", :locals => {:f=>f} %>
      <%= render :partial => "form_submit_video", :locals => {:f=>f} %>

      <%= f.email_field :email, help:"This will only be used if we need to contact you and will never be publically displayed.", wrapper: {class: 'required'}, required: true %>

      <div class="text-center">
        <%= f.submit "Submit My Story", class:"btn btn-primary sr-button" %>
      </div>
    </div>
<% end %>
