<%= render 'layouts/nav' %>

<div class="story-index-wrapper">
<section class="header">
    <div class="container">
      <div class="row">
        <div class="col-lg-12 text-center">
          <i class="fa fa-4x fa-newspaper-o sr-icons"></i>
        </div>

        <div class="col-lg-12 text-center">
          <hr class="light">
          <h2 class="section-heading">Stories</h2>
          <hr class="light">
        </div>
      </div>

    </div>
  </section>
  <%= render 'layouts/flash' %>

<% if @featured %>
  <div class="row">
    <div class="col-lg-12 text-center">
      <hr>
      <h2 class="section-heading">Featured Stories</h2>
      <hr>
    </div>
  </div>
  <%= render 'stories/featured' %>
<% end %>

<div class="row">
  <div class="col-lg-12 text-center">
    <hr>
    <h2 class="section-heading"> <%= @title %> <%= casein_pagination_details @stories %></h2>
    <hr>
  </div>
</div>
<%= render "stories/stories_index" %>

<div class="text-center">
  <hr>
  <%= link_to "Submit A Story", new_story_path, class: "btn btn-primary sr-button" %>
  <hr>
</div>
<br>
<div class="text-center">
  <%= will_paginate @stories %>
</div>
</div>
