<h1>Stories#index</h1>
<% flash.each do |message_type, message| %>
  <div class="alert alert-<%= message_type %>"><%= message %></div>
<% end %>
<section>
  <div class="posts">
    <% @stories.find_each do |story| %>
      <article>
        <a href="#" class="image"><%= image_tag("tsai_family.jpg") %></a>
        <h3><%= story.name %></h3>
        <p><%= story.body %></p>
        <ul class="actions">
          <li><a href="#" class="button">More</a></li>
        </ul>
      </article>
    <% end %>
  </div>
</section>
