<h1>Stories#index</h1>
<div class="button-center-wrapper">
  <%= link_to "Submit Your Story", new_story_path, class: "button submit-story" %>
</div>
<section>
  <div class="posts">
    <% @stories.each do |story| %>
      <article>
        <a href="#" class="image"><%= image_tag("great_photo_1.jpg") %></a>
        <h3><%= story.name %></h3>
        <p><%= story.body %></p>
        <ul class="actions">
          <li><a href="#" class="button">More</a></li>
        </ul>
      </article>
    <% end %>
  </div>
</section>
<div class="button-center-wrapper">
  <%= link_to "Submit Your Story", new_story_path, class: "button submit-story" %>
</div>
