<h1>Stories#new</h1>

<%= form_for(@story) do |f| %>
    <%= f.label :name %>
    <%= f.text_field :name %>
    <%= f.label :body %>
    <%= f.text_field :body %>
    <%= f.submit "Create my account" %>
<% end %>
