
<%= render 'layouts/nav' %>
<div class='story-wrapper'>
  <h1 class="story-title"><%= @story.name %></h1>
  <% if @story.media_type == "Video" %>
  <div class="story-video">

    <iframe width="560" height="315"
      src="https://www.youtube.com/embed/<%= @story.youtube_id%>"  frameborder="0" allowfullscreen>
    </iframe>
  </div>
  <br>
  <% else %>
    <%= image_tag(@story.thumbnail.url || default_url, class: "story-image") %>
  <% end %>

  <div class="story-body section-block"><%= simple_format(@story.body) %></div>


  <div class="text-center">
    <%= link_to "Back to Stories", stories_path, class: "btn btn-primary sr-button" %>
  </div>
</div>
