
<%= render 'layouts/nav' %>
<aside class="bg-primary">
  <div class='story-wrapper'>
    <h1 class="story-title text-center"><%= @story.name %></h1>
  </div>
</aside>
<div class='story-wrapper'>

  <% if @story.media_type == "video" %>
  <div class="story-video">
    <iframe width="560" height="315"
      src="https://www.youtube.com/embed/<%= @story.youtube_id%>"  frameborder="0" allowfullscreen>
    </iframe>
  </div>
  <br>
  <% else %>
    <%= image_tag(@story.thumbnail.url || default_url, class: "story-image") %>
  <% end %>

  <div class="story-body section-block">
    <%= simple_format(@story.body) %>
    <hr>
    <% if @story.author_name != "" %>
    <p>Author: <%= @story.author_name %> </p>
    <% else %>
    <p>Author: Anonymous </p>
    <% end %>
    <% if @story.hometown != "" %>
    <p>Hometown: <%= @story.hometown %> </p>
    <% end %>
    <% if @story.birth_year %>
    <p>Birth year: <%= @story.birth_year %> </p>
    <% end %>
  </div>


  <%= @story.tag_list %>


  <div class="text-center">
    <%= link_to "Back to Stories", stories_path, class: "btn btn-primary sr-button" %>
  </div>
</div>
