<!-- Sidebar -->
<div id="sidebar">
  <div class="inner">
    <nav id="menu">
      <header class="major">
        <h2>Menu</h2>
      </header>
      <ul>
        <li>
          <%= link_to 'Home', root_path%>
        </li>

        <li><%= link_to 'About', about_path%></li>
        <li><%= link_to 'Stories', stories_index_path%></li>
        <li><%= link_to 'Submit Your Story', submit_path%></li>
        <li><%= link_to 'Interview Guide', interview_guide_path%></li>
        <li><%= link_to 'Contact', contact_path%></li>

      </ul>
    </nav>

    <!-- Footer -->
    <footer id="footer">
      <p class="copyright">&copy; Our TA Story. All rights reserved. Design: <a href="https://html5up.net">HTML5 UP</a>.</p>
    </footer>

  </div>
</div>
