<!-- Sidebar -->
<div id="sidebar">
  <div class="inner">
    <nav id="menu">
      <header class="major">
        <h2>Menu</h2>
      </header>
      <ul>
        <li>
          <%= link_to 'Home', root_path%>
        </li>

        <li>
          <%= link_to 'About', static_pages_about_path%></li>
        <li><a href="elements.html">Stories</a></li>
        <li><%= link_to 'Submit Your Story', static_pages_submit_path%></li>
        <li><%= link_to 'Interview Guide', static_pages_interview_guide_path%></li>
        <li><%= link_to 'Contact', static_pages_contact_path%></li>

      </ul>
    </nav>

    <!-- Footer -->
    <footer id="footer">
      <p class="copyright">&copy; Our TA Story. All rights reserved. Design: <a href="https://html5up.net">HTML5 UP</a>.</p>
    </footer>

  </div>
</div>
