<section class="no-padding">
    <div class="container-fluid">
        <div class="row no-gutter popup-gallery">
            <div class="col-lg-4 col-sm-6">
              <%= link_to image_url("fullsize/1.jpg"), class:"portfolio-box" do%>
              <%=image_tag("thumbnails/1.jpg", class:"img-responsive")%>
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                Category
                            </div>
                            <div class="project-name">
                                Project Name
                            </div>
                        </div>
                    </div>
                    <% end %>
                <!--</a>-->
            </div>
            <div class="col-lg-4 col-sm-6">
                    <!--<%= image_tag("2.jpg", class:"portfolio-box")%>-->
                    <%= link_to image_url("fullsize/2.jpg"), class:"portfolio-box" do%>
                    <%=image_tag("thumbnails/2.jpg", class:"img-responsive")%>


                    <!--<img src="img/portfolio/thumbnails/2.jpg" class="img-responsive" alt="">-->
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                Category
                            </div>
                            <div class="project-name">
                                Project Name
                            </div>
                        </div>
                    </div>
                <% end %>
            </div>
            <div class="col-lg-4 col-sm-6">
              <%= link_to image_url("fullsize/3.jpg"), class:"portfolio-box" do%>
              <%=image_tag("thumbnails/3.jpg", class:"img-responsive")%>
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                Category
                            </div>
                            <div class="project-name">
                                Project Name
                            </div>
                        </div>
                    </div>
                    <% end %>
            </div>
            <div class="col-lg-4 col-sm-6">
              <%= link_to image_url("fullsize/4.jpg"), class:"portfolio-box" do%>
              <%=image_tag("thumbnails/4.jpg", class:"img-responsive")%>

                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                Category
                            </div>
                            <div class="project-name">
                                Project Name
                            </div>
                        </div>
                    </div>
                    <% end %>
            </div>
            <div class="col-lg-4 col-sm-6">
              <%= link_to image_url("fullsize/5.jpg"), class:"portfolio-box" do%>
              <%=image_tag("thumbnails/5.jpg", class:"img-responsive")%>
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                Category
                            </div>
                            <div class="project-name">
                                Project Name
                            </div>
                        </div>
                    </div>
                <% end %>
            </div>
            <div class="col-lg-4 col-sm-6">
              <%= link_to image_url("fullsize/6.jpg"), class:"portfolio-box" do%>
              <%=image_tag("thumbnails/6.jpg", class:"img-responsive")%>
              <div class="portfolio-box-caption">
                <div class="portfolio-box-caption-content">
                  <div class="project-category text-faded">
                    Category
                  </div>
                  <div class="project-name">
                    Project Name
                  </div>
                </div>
              </div>
              <% end %>
            </div>
        </div>
    </div>
</section>
