<!DOCTYPE html>
<html>
  <head>
  		<title>Our TA Story</title>
  		<meta charset="utf-8" />
      <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
  	</head>

    <%= csrf_meta_tags %>

  <script src="https://use.fontawesome.com/3a546d4938.js"></script>
  <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>

  <body>
    <!-- Wrapper -->
      <div id="wrapper">
        <!-- Main -->
          <div id="main">
            <div class="inner">
              <%= render 'layouts/flash' %>
              <%= render 'layouts/header' %>
              <%= render 'layouts/menu' %>


              <%= yield %>
            </div>

          </div>
        </div>
  </body>
</html>
