<!DOCTYPE html>
<html>
  <head>
  		<title>Our TA Story</title>
  		<meta charset="utf-8" />
      <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
      <%= render 'layouts/google_analytics'%>
  	</head>

    <%= csrf_meta_tags %>

  <script src="https://use.fontawesome.com/3a546d4938.js"></script>
  <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>

  <body>
    <%= yield %>
  </body>

  <%= javascript_include_tag 'creative/z_creative' %>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.3/jquery.easing.min.js"></script>
</html>
